@charset "UTF-8";
@font-face {
  font-family: SfProDisplay;
  font-weight: 400;
  font-style: normal;
  src: local("SfProDisplay"), url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff"), url("../fonts/SF-Pro-Display-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: SfProDisplay;
  font-weight: 500;
  font-style: normal;
  src: local("SfProDisplay"), url("../fonts/SF-Pro-Display-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Medium.woff") format("woff"), url("../fonts/SF-Pro-Display-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: SfProDisplay;
  font-weight: 700;
  font-style: normal;
  src: local("SfProDisplay"), url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff"), url("../fonts/SF-Pro-Display-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.eot") format("eot");
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

label {
  cursor: pointer;
}

body {
  font-family: "SfProDisplay", sans-serif;
  background-color: #fff;
}

.none {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}
@media (max-width: 999px) {
  .container {
    padding: 0 16px;
  }
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #1f50fe;
}
@media (max-width: 1150px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 374px) {
  .title {
    font-size: 36px;
  }
}

.title-secondery {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
@media (max-width: 999px) {
  .title-secondery {
    font-size: 34px;
  }
}
@media (max-width: 650px) {
  .title-secondery {
    font-size: 24px;
  }
}

.button {
  background: #1f50fe;
  padding: 13px 53px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;
  filter: drop-shadow(0px 100px 80px rgba(31, 80, 254, 0.07)) drop-shadow(0px 64.8148px 46.8519px rgba(31, 80, 254, 0.0531481)) drop-shadow(0px 38.5185px 25.4815px rgba(31, 80, 254, 0.0425185)) drop-shadow(0px 20px 13px rgba(31, 80, 254, 0.035)) drop-shadow(0px 8.14815px 6.51852px rgba(31, 80, 254, 0.0274815)) drop-shadow(0px 1.85185px 3.14815px rgba(31, 80, 254, 0.0168519));
  text-transform: uppercase;
  transition: background 0.2s ease-in;
}
@media (max-width: 374px) {
  .button {
    font-size: 12px;
  }
}

.button:hover {
  background: #0e2a91;
}

.header {
  display: grid;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 124px;
  background: linear-gradient(296.95deg, rgba(255, 255, 255, 0.5) 15.52%, rgba(233, 241, 255, 0.5) 95.06%);
}
@media (max-width: 650px) {
  .header {
    gap: 32px;
    padding-bottom: 112px;
  }
}

.header__top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__logo {
  flex-shrink: 0;
}

.header__nav-list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 14px;
  line-height: 1.5;
}
@media (max-width: 999px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-link {
  transition: color 0.2s ease-in;
}

.header__nav-link:hover {
  color: #1f50fe;
}

.header__nav-btn {
  display: none;
}
@media (max-width: 999px) {
  .header__nav-btn {
    display: block;
  }
}

.header__nav-list-item {
  position: relative;
}

.header__nav-link--active {
  font-weight: 700;
  background: #d9e2ff;
  border-radius: 60px;
  padding: 13px 10px;
}

.header__nav-link--active::after {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #1f50fe;
  border-radius: 50%;
}

.header__call-request {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 28px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (max-width: 1150px) {
  .header__call-request {
    display: none;
  }
}

.header__call-request::before {
  position: absolute;
  left: 0px;
  top: -5px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(./../img/header/phone-icon.svg);
}

.header__phone-number {
  font-weight: 500;
  margin-bottom: 8px;
}

.header__text-request {
  color: #1f50fe;
}

.header__web-link {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-size: 14px;
  line-height: 1.5;
}
@media (max-width: 1279px) {
  .header__web-link {
    display: none;
  }
}

.header__middle-row-flex {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 999px) {
  .header__middle-row-flex {
    flex-direction: column;
  }
}

.header__desk-text p + p {
  margin-top: 27px;
}

.header__desk {
  display: grid;
  gap: 24px;
  max-width: 600px;
}
@media (max-width: 999px) {
  .header__desk {
    text-align: center;
    max-width: 820px;
  }
}
@media (max-width: 650px) {
  .header__desk {
    gap: 16px;
  }
}

.header__text {
  font-size: 14px;
  line-height: 1.5;
}

.header__text p + p {
  margin-top: 27px;
}

.header__сert {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media (max-width: 1150px) {
  .header__сert {
    display: none;
  }
}

@media (max-width: 999px) {
  .header__cards {
    display: grid;
    gap: 40px;
    width: 600px;
  }
}
@media (max-width: 650px) {
  .header__cards {
    display: block;
    width: 100%;
  }
}

.header__cards-row {
  display: flex;
}
@media (max-width: 999px) {
  .header__cards-row {
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  .header__cards-row {
    justify-content: center;
  }
}

.header__card {
  width: 187px;
  height: 187px;
  position: relative;
  background: #fff;
  box-shadow: 0px 100px 80px rgba(1, 101, 255, 0.07), 0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185), 0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815);
}
@media (max-width: 1150px) {
  .header__card {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 650px) {
  .header__card {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 374px) {
  .header__card {
    width: 93px;
    height: 93px;
  }
}

.header__card-img {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__card--br-50 {
  border-radius: 50%;
}

.header__card--br-bl {
  border-radius: 0 0 50% 0;
}

.header__card--bsh-accent {
  box-shadow: 0px 100px 80px rgba(1, 101, 255, 0.07), 0px 64.8148px 46.8519px rgba(1, 101, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185), 0px 20px 13px rgba(1, 101, 255, 0.035), 0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(1, 101, 255, 0.0168519);
}

.header__card--zi {
  z-index: 1;
}

.header__nav-btn {
  z-index: 999;
}

.nav-icon-btn {
  position: fixed;
  right: 20px;
  top: 17px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9e2ff;
  border-radius: 20px;
  border: none;
  transition: background 0.2s ease-in;
  cursor: pointer;
}

.nav-icon-btn:hover {
  background: #bcc7eb;
}

.nav-icon {
  display: block;
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #323232;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #323232;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.nav-icon::before {
  top: -5px;
}

.nav-icon::after {
  top: 5px;
}

/* Active state */
.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top 0.2s linear, transform 0.1s ease-in 0.2s;
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.no-scroll {
  overflow-y: hidden;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -375px;
  width: 375px;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px;
  /* background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195; */
  background-color: #ffffff;
  transition: all 0.3s ease-in;
  overflow-y: scroll;
}
@media (max-width: 374px) {
  .mobile-nav {
    right: -320px;
    width: 320px;
  }
}

.mobile-nav--open {
  right: 0;
}

.mobile-nav__border {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile-nav__logo {
  padding: 0px 20px;
  margin-bottom: 21px;
}

.mobile-nav__list {
  width: 100%;
}

.mobile-nav__list li {
  padding: 12px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile-nav__link {
  padding: 0px 30px 0px 20px;
  display: flex;
  justify-content: space-between;
}
.mobile-nav__link svg {
  fill: #323232;
  transition: fill 0.2s ease-in;
}

.mobile-nav__link:hover .mobile-nav__btn,
.mobile-nav__link:hover svg {
  color: #1f50fe;
  fill: #1f50fe;
}

.mobile-nav__btn {
  display: inline-block;
  color: #1a233b;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  background: #d9e2ff;
  border-radius: 60px;
  padding: 12px;
  width: 169px;
  transition: color 0.2s ease-in;
}

.mobile-nav a:hover,
.mobile-nav a.active {
  color: #1f50fe;
}

.mobile-nav__list {
  display: grid;
}

.mobile-nav-fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 29, 34, 0.7);
  z-index: 98;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}

.mobile-nav-fade--open {
  opacity: 1;
  pointer-events: all;
}

.services {
  padding: 56px 0 124px;
  margin-top: -60px;
  background: linear-gradient(72.05deg, #e6efff 12.23%, #d9e1ff 50.72%, #cbd2ff 88.67%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px 70px 0 0;
}
@media (max-width: 650px) {
  .services {
    padding: 32px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.services__desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 850px) {
  .services__desc {
    text-align: center;
    gap: 16px;
  }
}
@media (max-width: 850px) {
  .services__desc {
    text-align: left;
  }
}

.services__text {
  font-size: 14px;
  line-height: 1.5;
}

.services__text p + p {
  margin-top: 30px;
}
@media (max-width: 850px) {
  .services__text p + p {
    margin-top: 32px;
  }
}

.services__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
@media (max-width: 850px) {
  .services__cards {
    gap: 32px;
  }
}

.services__card {
  max-width: 368px;
  padding: 24px;
  background: #ffffff;
  border-radius: 40px 0 0 0;
}

.services__card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 16px;
}

.services__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
}

.services__card-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.services__btn {
  text-align: center;
}

.services__button {
  padding: 13px 35px;
}
@media (max-width: 374px) {
  .services__button {
    padding: 13px 25px;
  }
}

.expertise {
  padding: 56px 0 124px;
  margin-top: -60px;
  background: linear-gradient(67.66deg, #1f50fe 17%, #899aff 108.07%);
  border-radius: 70px 70px 0 0;
}
@media (max-width: 650px) {
  .expertise {
    padding: 36px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.expertise__header {
  margin-bottom: 48px;
  color: #ffffff;
}
@media (max-width: 650px) {
  .expertise__header {
    gap: 32px;
  }
}

.expertise__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
@media (max-width: 650px) {
  .expertise__cards {
    gap: 16px;
  }
}

.expertise__card {
  width: 233px;
  height: 151px;
  padding: 20px 12px 20px 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  transition: background 0.3s ease-in;
}
@media (max-width: 650px) {
  .expertise__card {
    width: 155px;
    height: auto;
    padding: 16px 8px 16px 16px;
  }
}
@media (max-width: 374px) {
  .expertise__card {
    width: 195px;
    text-align: center;
  }
}

.expertise__card--br-bot-right {
  border-radius: 0px 0px 40px 0px;
}
@media (max-width: 650px) {
  .expertise__card--br-bot-right {
    border-radius: 0px 0px 30px 0px;
  }
}

.expertise__card--br-top-left {
  border-radius: 40px 40px 0px 40px;
}
@media (max-width: 650px) {
  .expertise__card--br-top-left {
    border-radius: 30px 30px 0px 30px;
  }
}

.expertise__card--br-right {
  border-radius: 0px 40px 40px 0px;
}
@media (max-width: 650px) {
  .expertise__card--br-right {
    border-radius: 0px 30px 30px 0px;
  }
}

.expertise__card--br-top-right {
  border-radius: 40px 40px 40px 0px;
}
@media (max-width: 650px) {
  .expertise__card--br-top-right {
    border-radius: 30px 30px 30px 0px;
  }
}

.expertise__card--br-bot-left-top-right {
  border-radius: 0px 40px 0px 40px;
}
@media (max-width: 650px) {
  .expertise__card--br-bot-left-top-right {
    border-radius: 0px 30px 0px 30px;
  }
}

.expertise__card--br-t-left {
  border-radius: 40px 0px 0px 0px;
}
@media (max-width: 650px) {
  .expertise__card--br-t-left {
    border-radius: 30px 0px 0px 0px;
  }
}

.expertise__card:hover {
  background: #ffffff;
}

.expertise__card:hover .expertise__card-icon {
  fill: #d01c28;
}

.expertise__card:hover .expertise__card-text {
  color: #1f50fe;
}

.expertise__card-icon {
  margin-bottom: 16px;
  fill: #ffffff;
  transition: fill 0.3s ease-in;
}

.expertise__card-text {
  max-width: 201px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #ffffff;
  transition: color 0.3s ease-in;
}
@media (max-width: 650px) {
  .expertise__card-text {
    font-size: 16px;
  }
}

.advantages {
  padding: 56px 0 64px;
  margin-top: -60px;
  background: linear-gradient(72.05deg, #e6efff 12.23%, #d9e1ff 50.72%, #cbd2ff 88.67%);
  border-radius: 70px 70px 0 0;
}
@media (max-width: 650px) {
  .advantages {
    padding: 36px 0 65px;
    border-radius: 50px 50px 0 0;
  }
}

.advantages__header {
  margin-bottom: 32px;
}
@media (max-width: 999px) {
  .advantages__header {
    text-align: center;
    margin-bottom: 16px;
  }
}

.advantages__row {
  display: flex;
  gap: 40px;
}
@media (max-width: 1135px) {
  .advantages__row {
    gap: 60px;
    align-items: center;
  }
}
@media (max-width: 999px) {
  .advantages__row {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }
}

.advantages__desk {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 1250px) {
  .advantages__desk {
    max-width: 500px;
  }
}
@media (max-width: 999px) {
  .advantages__desk {
    gap: 16px;
    max-width: 700px;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.5;
}

.advantages__button {
  padding: 13px 69px;
  border-radius: 0px 25px 25px 0px;
}
@media (max-width: 999px) {
  .advantages__button {
    padding: 13px 35px;
    border-radius: 25px 0px 0px 25px;
  }
}
@media (max-width: 999px) {
  .advantages__button {
    padding: 13px 25px;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media (max-width: 999px) {
  .advantages__wrapper {
    max-width: 600px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 24px;
  background: #ffffff;
  border-radius: 40px 0 0 40px;
}
@media (max-width: 1135px) {
  .advantages__item {
    margin-left: 35px;
    border-radius: 60px 0 0 60px;
    height: 125px;
  }
}
@media (max-width: 999px) {
  .advantages__item {
    gap: 16px;
  }
}

.advantages__item-img {
  flex-shrink: 0;
  width: 81px;
  height: 81px;
  padding: 20px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
}
@media (max-width: 1135px) {
  .advantages__item-img {
    margin-left: -35px;
  }
}

.advantages__item-desk {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 8px 0px;
}
@media (max-width: 1135px) {
  .advantages__item-desk {
    height: 125px;
    justify-content: center;
  }
}

.advantages__item-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}
@media (max-width: 374px) {
  .advantages__item-title {
    font-size: 16px;
  }
}

.advantages__item-text {
  font-size: 12px;
  line-height: 1.5;
}
@media (max-width: 374px) {
  .advantages__item-text {
    font-size: 10px;
  }
}

.cta {
  padding-bottom: 124px;
  background: linear-gradient(72.05deg, #e6efff 12.23%, #d9e1ff 50.72%, #cbd2ff 88.67%);
  overflow-x: hidden;
}

.cta__row {
  position: relative;
  padding: 56px 0px;
  background: linear-gradient(92.49deg, #1a233b 0%, #01278e 185.36%);
}
@media (max-width: 999px) {
  .cta__row {
    text-align: center;
  }
}

.cta__row::after {
  content: "";
  position: absolute;
  top: 56px;
  left: calc(50% + 300px);
  width: 381px;
  height: 253px;
  background: url(./../img/cta/1c.png);
}
@media (max-width: 1180px) {
  .cta__row::after {
    display: none;
  }
}

.cta__title {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 35px;
}
@media (max-width: 999px) {
  .cta__title {
    font-size: 34px;
  }
}
@media (max-width: 650px) {
  .cta__title {
    font-size: 24px;
  }
}

.cta__img {
  display: none;
}
@media (max-width: 1180px) {
  .cta__img {
    display: block;
    margin-bottom: 32px;
  }
}

.cta__text {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (max-width: 999px) {
  .cta__text {
    max-width: 100%;
  }
}

.cta__button {
  padding: 13px 121px;
}
@media (max-width: 999px) {
  .cta__button {
    padding: 13px 80px;
  }
}
@media (max-width: 374px) {
  .cta__button {
    padding: 13px 70px;
  }
}

.outstaffing {
  background: #fbfbfb;
  padding: 56px 0 124px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
}
@media (max-width: 650px) {
  .outstaffing {
    padding: 36px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.outstaffing__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.outstaffing__text {
  font-size: 14px;
  line-height: 1.5;
}

.outstaffing__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 1150px) {
  .outstaffing__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 691px) {
  .outstaffing__wrapper {
    gap: 12px;
  }
}

@media (max-width: 691px) {
  .outstaffing__item:not(:last-child) {
    border-bottom: 2px solid #b7b7b7;
  }
}

.outstaffing__item {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  max-width: 320px;
  padding: 20px 0px;
}

.outstaffing__item-border {
  border: 1px solid #b7b7b7;
}
@media (max-width: 1150px) {
  .outstaffing__item-border {
    display: none;
  }
}

.outstaffing__item-img {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  padding: 21px;
  background: #f1f1f1;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  filter: drop-shadow(0px 100px 80px rgba(1, 101, 255, 0.07)) drop-shadow(0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185)) drop-shadow(0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815));
}

.outstaffing__item-desk {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.outstaffing__item-title {
  font-weight: 700;
  font-size: 18px;
}

.outstaffing__item-text {
  font-size: 12px;
  line-height: 1.5;
}
@media (max-width: 374px) {
  .outstaffing__item-text {
    font-size: 10px;
  }
}

.outstaffing__btn {
  text-align: center;
}

.outstaffing__button {
  padding: 13px 69px;
  border: 1px solid #1f50fe;
}
@media (max-width: 1150px) {
  .outstaffing__button {
    padding: 13px 30px;
  }
}
@media (max-width: 374px) {
  .outstaffing__button {
    padding: 13px 20px;
  }
}

.development {
  padding: 56px 0 124px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
  background: linear-gradient(89.37deg, #eff1f4 0.54%, #fdfafa 46.55%, #fff5f6 99.5%);
}
@media (max-width: 650px) {
  .development {
    padding: 36px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.development__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.development__text {
  font-size: 14px;
  line-height: 1.5;
}

.development__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1150px) {
  .development__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.development__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 330px;
  background-color: #ffffff;
  padding: 25px;
  filter: drop-shadow(0px 100px 80px rgba(1, 101, 255, 0.07)) drop-shadow(0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185)) drop-shadow(0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815));
}
@media (max-width: 1150px) {
  .development__item {
    max-width: 320px;
  }
}

.development__item--border {
  border-radius: 0px 40px 0px 40px;
}

.development__item-number {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.development__item-line {
  border: 2px solid #d01c28;
}

.development__item-title {
  font-weight: 700;
  font-size: 18px;
}

.development__item-text {
  font-size: 12px;
  line-height: 1.5;
}

.solutions {
  padding: 56px 0 122px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
  background: linear-gradient(92.49deg, #1a233b 0%, #01278e 185.36%);
}
@media (max-width: 650px) {
  .solutions {
    padding: 36px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.solutions__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.solutions__header {
  color: #ffffff;
}

.solutions__text {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}

.solutions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.solutions__item {
  padding: 24px 40px 61px 40px;
  display: flex;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  border-radius: 25px;
  width: 100%;
}
@media (max-width: 950px) {
  .solutions__item {
    flex-direction: column;
    padding: 16px 16px 32px 16px;
  }
}

.solutions__item + .solutions__item {
  margin-top: -38px;
}
@media (max-width: 950px) {
  .solutions__item + .solutions__item {
    margin-top: -24px;
  }
}

.solutions__item--top {
  gap: 166px;
  background: #d8ddff;
}
@media (max-width: 1150px) {
  .solutions__item--top {
    gap: 20px;
    justify-content: space-between;
  }
}

.solutions__item--middle {
  width: calc(100% - 40px);
  gap: 236px;
  background: #e9ecff;
}
@media (max-width: 1150px) {
  .solutions__item--middle {
    gap: 20px;
    justify-content: space-between;
  }
}

.solutions__item--bottom {
  padding: 24px 40px 50px 40px;
  width: calc(100% - 80px);
  gap: 338px;
  background: #ffffff;
}
@media (max-width: 1150px) {
  .solutions__item--bottom {
    gap: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 950px) {
  .solutions__item--bottom {
    padding: 16px 15px;
  }
}

.solutions__item-title {
  font-weight: 700;
  font-size: 18px;
}

.solutions__item-text {
  max-width: 440px;
  font-size: 12px;
  line-height: 1.5;
}
@media (max-width: 1150px) {
  .solutions__item-text {
    max-width: 400px;
  }
}
@media (max-width: 950px) {
  .solutions__item-text {
    max-width: 100%;
  }
}

.solutions__btn {
  margin-top: 14px;
  text-align: right;
}
@media (max-width: 950px) {
  .solutions__btn {
    text-align: center;
  }
}

.solutions__button {
  padding: 16px 65px 11px;
  border: 1px solid #1f50fe;
  border-radius: 40px;
}
@media (max-width: 950px) {
  .solutions__button {
    padding: 16px 30px 11px;
  }
}
@media (max-width: 374px) {
  .solutions__button {
    padding: 16px 20px 11px;
  }
}

.ready {
  padding: 56px 0px 122px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
  overflow-x: hidden;
  background: #fbfbfb;
}
@media (max-width: 650px) {
  .ready {
    padding: 36px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.ready__body {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.ready__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
}
@media (max-width: 999px) {
  .ready__row {
    display: block;
  }
}

.ready__row::after {
  position: absolute;
  bottom: -142px;
  left: calc(50% + 70px);
  content: "";
  display: block;
  width: 610px;
  height: 610px;
  background-image: url(./../img/ready/big-circle.svg);
}
@media (max-width: 999px) {
  .ready__row::after {
    display: none;
  }
}

.ready__row::before {
  position: absolute;
  bottom: -92px;
  right: 70%;
  content: "";
  display: block;
  width: 610px;
  height: 190px;
  background-image: url(./../img/ready/little-circle.svg);
}
@media (max-width: 999px) {
  .ready__row::before {
    display: none;
  }
}

.ready__row-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 40px;
}
@media (max-width: 999px) {
  .ready__row-list {
    align-items: normal;
  }
}

.ready__row-list-link {
  display: flex;
  align-items: center;
  text-align: right;
  gap: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
@media (max-width: 999px) {
  .ready__row-list-link {
    max-width: 525px;
    justify-content: end;
    gap: 22px;
  }
}
@media (max-width: 525px) {
  .ready__row-list-link {
    text-align: left;
    justify-content: space-between;
  }
}

.ready__row-list-link:not(.ready__row-list-link--acctive):hover {
  font-size: 16px;
  color: #1f50fe;
  fill: #1f50fe;
}

.ready__row-list-link--acctive {
  font-weight: 700;
  font-size: 20px;
  fill: #1f50fe;
}
.ready__row-list-link--acctive svg {
  transform: scale(1.2);
  flex-shrink: 0;
}
@media (max-width: 999px) {
  .ready__row-list-link--acctive svg {
    transform: scale(1.2) rotate(90deg);
  }
}
@media (max-width: 999px) {
  .ready__row-list-link--acctive {
    justify-content: end;
    gap: 16px;
    font-size: 18px;
  }
}

.ready__row-desk {
  display: none;
  margin-top: 16px;
  background: rgba(255, 255, 255, 0.8);
  padding: 24px;
  border: 2px solid #1f50fe;
  border-radius: 0px 40px 40px;
}
@media (max-width: 999px) {
  .ready__row-desk {
    display: block;
  }
}

.ready__row-wrapper {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgba(255, 255, 255, 0.8);
  padding: 24px;
  border: 2px solid #1f50fe;
  border-radius: 0px 40px 40px;
  z-index: 1;
}
@media (max-width: 1279px) {
  .ready__row-wrapper {
    width: 100%;
  }
}
@media (max-width: 999px) {
  .ready__row-wrapper {
    display: none;
  }
}

.ready__row-wrapper-item {
  display: flex;
  flex-direction: column;
}

.ready__row-wrapper-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.ready__row-text {
  font-size: 12px;
  line-height: 1.5;
}

.partners {
  position: relative;
  padding: 56px 0px 140px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
  background: linear-gradient(270deg, #e6efff 0%, #d9e1ff 50%, #cbd2ff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 650px) {
  .partners {
    padding: 36px 0 100px;
    border-radius: 50px 50px 0 0;
  }
}

.partners__body {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.partners__slider {
  position: relative;
}
@media (max-width: 999px) {
  .partners__slider {
    display: none;
  }
}

.partners__slider-tablet {
  display: none;
}
@media (max-width: 999px) {
  .partners__slider-tablet {
    display: block;
    display: flex;
    justify-content: center;
    gap: 21px;
    flex-wrap: wrap;
  }
}
@media (max-width: 374px) {
  .partners__slider-tablet {
    gap: 15px;
  }
}

.partners__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
}
@media (max-width: 599px) {
  .partners__item-img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 374px) {
  .partners__item-img {
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 599px) {
  .partners__item-img img {
    transform: scale(0.8);
  }
}

/* Ограничивающая оболочка */
.partners__slider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.partners__slider .slick-track {
  display: flex;
}

/* Стрелка */
.partners__slider .slick-arrow {
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
  transition: all 0.2s ease-in;
  font-size: 0px;
  z-index: 1;
}

.partners__slider .slick-arrow:hover {
  background: #1f50fe;
}

/* Стрелка влево */
.partners__slider .slick-arrow.slick-prev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.84615 0V14.7692L0 7.38462L9.84615 0Z' fill='%23CFCFCF'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.partners__slider .slick-arrow.slick-prev:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.84615 0V14.7692L0 7.38462L9.84615 0Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
}

/* Стрелка вправо */
.partners__slider .slick-arrow.slick-next {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.71933e-05 0V14.7692L9.84619 7.38462L3.71933e-05 0Z' fill='%23CFCFCF'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px;
}

.partners__slider .slick-arrow.slick-next:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.71933e-05 0V14.7692L9.84619 7.38462L3.71933e-05 0Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
}

.form {
  position: relative;
  padding: 56px 0px 180px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
  background: #ffffff;
  font-size: 12px;
}
@media (max-width: 1149px) {
  .form {
    padding: 56px 0px 0px;
  }
}

.form__options {
  max-width: 700px;
  margin-right: auto;
  padding-right: 35px;
}
@media (max-width: 1279px) {
  .form__options {
    max-width: 630px;
  }
}
@media (max-width: 1149px) {
  .form__options {
    max-width: 100%;
    padding-right: 0px;
  }
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 24px;
}

.form__header-subtitle {
  font-size: 14px;
  line-height: 1.5;
}

.form__group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 1149px) {
  .form__group-wrapper {
    margin-bottom: 60px;
  }
}
@media (max-width: 699px) {
  .form__group-wrapper {
    margin-bottom: 30px;
  }
}

.form__group-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 699px) {
  .form__group-title--margin-bottom {
    margin-bottom: 55px;
  }
}

/* ================ RADIO ================ */
.radio-wraper {
  display: flex;
  gap: 40px;
}
@media (max-width: 699px) {
  .radio-wraper {
    flex-direction: column;
    gap: 20px;
  }
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom__radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: border 0.2s ease-in;
  flex-shrink: 0;
}

.custom__radio::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 10px;
  height: 10px;
  background: #1f50fe;
  border-radius: 50%;
  transition: transform 0.2s ease-in;
}

.real-radio:focus + .custom__radio {
  border: 2px solid #1f50fe;
}

.real-radio:checked + .custom__radio::before {
  transform: translate(-50%, -50%) scale(1);
}

/* ================ COUNTER ================ */
.team-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 699px) {
  .team-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}

.counter-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
}

.items__control {
  display: flex;
  background: #f1f1f1;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.items__control--plus {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.63448 4.96285V3.21045H0.53833V4.96285H7.63448Z' fill='%23858A96'/%3e%3cpath d='M4.96261 0.538611H3.21021L3.21021 7.63477H4.96261V0.538611Z' fill='%23858A96'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.items__control--plus:hover {
  background: #1f50fe;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.63448 4.96285V3.21045H0.53833V4.96285H7.63448Z' fill='%23ffffff'/%3e%3cpath d='M4.96261 0.538611H3.21021L3.21021 7.63477H4.96261V0.538611Z' fill='%23ffffff'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.items__control--minus {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='3' viewBox='0 0 8 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.63467 2.06002V0.307617H0.538513V2.06002H7.63467Z' fill='%23858A96'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.items__control--minus:hover {
  background: #1f50fe;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='3' viewBox='0 0 8 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.63467 2.06002V0.307617H0.538513V2.06002H7.63467Z' fill='%23ffffff'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
}

.counter-text {
  font-size: 12px;
}

/* ================ CHECKBOX ================ */
.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-row {
  display: flex;
  gap: 56px;
}
@media (max-width: 699px) {
  .checkbox-row {
    flex-direction: column;
    gap: 20px;
  }
}

.checkbox-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 699px) {
  .checkbox-column {
    gap: 20px;
  }
}

.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.custom__checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  transition: all 0.2s ease-in;
}

.custom__checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 13px;
  height: 10px;
  background-image: url("../img/form/check.svg");
  transition: transform 0.2s ease-in-out;
  animation-name: check;
}

.real-checkbox:checked + .custom__checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.real-checkbox:checked + .custom__checkbox {
  background: #1f50fe;
  border: 2px solid #1f50fe;
}

/* ================ TOTAL ================ */
.form__total {
  color: #ffffff;
  position: absolute;
  padding: 56px 40px 140px;
  height: 100%;
  left: calc(50% + 100px);
  right: 0;
  top: 0;
  border-radius: 0px 70px 0 0;
  background: #1a233b;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 1149px) {
  .form__total {
    position: static;
    border-radius: 0;
    padding: 56px 40px 110px;
  }
}

.form__total-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__total-wrapper-service,
.form__total-wrapper-team {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.form__total-item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  padding: 4px 12px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
}

.form__total-counter {
  font-weight: 700;
}

.form__total-icon img {
  display: block;
}

.form__total-footer {
  margin-top: auto;
  text-align: center;
}
@media (max-width: 1150px) {
  .form__total-footer {
    text-align: left;
  }
}

.form__total-btn {
  padding: 16px 138px 11px;
  border-radius: 40px;
}
@media (max-width: 1279px) {
  .form__total-btn {
    padding: 16px 100px 11px;
  }
}
@media (max-width: 699px) {
  .form__total-btn {
    padding: 16px 50px 11px;
  }
}
@media (max-width: 374px) {
  .form__total-btn {
    padding: 16px 40px 11px;
  }
}

.footer {
  position: relative;
  background: #0e1423;
  padding: 56px 0px 0px;
  margin-top: -70px;
  border-radius: 70px 70px 0 0;
  color: #ffffff;
}

.footer__top {
  padding-bottom: 46px;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__header {
  margin-bottom: 24px;
}

.footer__offices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 20px;
}
@media (max-width: 950px) {
  .footer__offices {
    flex-direction: column;
    gap: 0px;
  }
}

.footer__offices-item {
  padding: 24px 0px;
}

.footer__offices-title {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.footer__offices-list {
  font-size: 12px;
  letter-spacing: 0.48px;
  line-height: 1.5;
}

.footer__offices-list-address {
  display: block;
}
@media (max-width: 950px) {
  .footer__offices-list-address {
    display: inline;
  }
}

.footer__offices-item-border {
  border: 1px solid #b7b7b7;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__social-wrapper {
  display: flex;
  gap: 29px;
}
@media (max-width: 575px) {
  .footer__social-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

.footer__social-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #1f50fe;
  border-radius: 8px;
}

.footer__social-item:hover .footer__social-item-img {
  fill-opacity: 1;
  margin-left: 0px;
}

.footer__social-item-img {
  display: block;
  fill-opacity: 0.4;
  margin-left: 20px;
  transition: all 0.2s ease-in;
}

.footer__social-item-img--facebook {
  margin-left: 25px;
}

.footer__bottom {
  padding: 12px 0px;
  background: #000000;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.5019607843);
}

.footer_bottom-list {
  display: flex;
  gap: 20px;
}
@media (max-width: 450px) {
  .footer_bottom-list {
    flex-direction: column;
    gap: 8px;
  }
}

.footer__bottom-item {
  display: flex;
  gap: 20px;
}

.footer__bottom-item--flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__bottom-item--underline {
  text-decoration-line: underline;
}/*# sourceMappingURL=main.css.map */