@charset "UTF-8";
@font-face {
  font-family: SfProDisplay;
  font-weight: 400;
  font-style: normal;
  src: local("SfProDisplay"), url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff"), url("../fonts/SF-Pro-Display-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: SfProDisplay;
  font-weight: 500;
  font-style: normal;
  src: local("SfProDisplay"), url("../fonts/SF-Pro-Display-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Medium.woff") format("woff"), url("../fonts/SF-Pro-Display-Medium.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: SfProDisplay;
  font-weight: 700;
  font-style: normal;
  src: local("SfProDisplay"), url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff"), url("../fonts/SF-Pro-Display-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.eot") format("eot");
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-family: "SfProDisplay", sans-serif;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #1f50fe;
}

.title-secondery {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}

.button {
  background: #1f50fe;
  padding: 13px 53px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;
  filter: drop-shadow(0px 100px 80px rgba(31, 80, 254, 0.07)) drop-shadow(0px 64.8148px 46.8519px rgba(31, 80, 254, 0.0531481)) drop-shadow(0px 38.5185px 25.4815px rgba(31, 80, 254, 0.0425185)) drop-shadow(0px 20px 13px rgba(31, 80, 254, 0.035)) drop-shadow(0px 8.14815px 6.51852px rgba(31, 80, 254, 0.0274815)) drop-shadow(0px 1.85185px 3.14815px rgba(31, 80, 254, 0.0168519));
  text-transform: uppercase;
  transition: background 0.2s ease-in;
}

.button:hover {
  background: #0e2a91;
}

.header {
  display: grid;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 124px;
  background: linear-gradient(296.95deg, rgba(255, 255, 255, 0.5) 15.52%, rgba(233, 241, 255, 0.5) 95.06%);
}

.header__top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__logo {
  flex-shrink: 0;
}

.header__nav-list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 14px;
  line-height: 1.5;
}

.header__nav-link {
  transition: color 0.2s ease-in;
}

.header__nav-link:hover {
  color: #1f50fe;
}

.header__nav-list-item {
  position: relative;
}

.header__nav-link--active {
  font-weight: 700;
  background: #d9e2ff;
  border-radius: 60px;
  padding: 13px 10px;
}

.header__nav-link--active::after {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #1f50fe;
  border-radius: 50%;
}

.header__call-request {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 28px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header__call-request::before {
  position: absolute;
  left: 0px;
  top: -5px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(./../img/header/phone-icon.svg);
}

.header__phone-number {
  font-weight: 500;
  margin-bottom: 8px;
}

.header__text-request {
  color: #1f50fe;
}

.header__web-link {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-size: 14px;
  line-height: 1.5;
}

.header__middle-row-flex {
  display: flex;
  gap: 40px;
}

.header__desk-text p + p {
  margin-top: 27px;
}

.header__desk {
  display: grid;
  gap: 24px;
  max-width: 600px;
}

.header__text {
  font-size: 14px;
  line-height: 1.5;
}

.header__text p + p {
  margin-top: 27px;
}

.header__сert {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.header__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(187px, 1fr));
}

.header__card {
  position: relative;
  background: #fff;
  box-shadow: 0px 100px 80px rgba(1, 101, 255, 0.07), 0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185), 0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815);
}

.header__card-img {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__card--br-50 {
  border-radius: 50%;
}

.header__card--br-bl {
  border-radius: 0 0 50% 0;
}

.header__card--bsh-accent {
  box-shadow: 0px 100px 80px rgba(1, 101, 255, 0.07), 0px 64.8148px 46.8519px rgba(1, 101, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185), 0px 20px 13px rgba(1, 101, 255, 0.035), 0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(1, 101, 255, 0.0168519);
}

.header__card--zi {
  z-index: 1;
}

.services {
  padding: 56px 0 124px;
  margin-top: -60px;
  background: linear-gradient(72.05deg, #e6efff 12.23%, #d9e1ff 50.72%, #cbd2ff 88.67%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px 70px 0 0;
}

.services__desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.services__text {
  font-size: 14px;
  line-height: 1.5;
}

.services__text p + p {
  margin-top: 30px;
}

.services__cards {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}

.services__card {
  max-width: 368px;
  padding: 24px;
  background: #ffffff;
  border-radius: 40px 0 0 0;
}

.services__card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 16px;
}

.services__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
}

.services__card-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.services__btn {
  text-align: center;
}

.expertise {
  padding: 56px 0 124px;
  margin-top: -60px;
  background: linear-gradient(67.66deg, #1f50fe 17%, #899aff 108.07%);
  border-radius: 70px 70px 0 0;
}

.expertise__header {
  margin-bottom: 48px;
  color: #ffffff;
}

.expertise__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.expertise__card {
  width: 233px;
  height: 151px;
  padding: 20px 12px 20px 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  transition: background 0.3s ease-in;
}

.expertise__card--br-bot-right {
  border-radius: 0px 0px 40px 0px;
}

.expertise__card--br-top-left {
  border-radius: 40px 40px 0px 40px;
}

.expertise__card--br-right {
  border-radius: 0px 40px 40px 0px;
}

.expertise__card--br-top-right {
  border-radius: 40px 40px 40px 0px;
}

.expertise__card--br-bot-left-top-right {
  border-radius: 0px 40px 0px 40px;
}

.expertise__card--br-t-left {
  border-radius: 40px 0px 0px 0px;
}

.expertise__card:hover {
  background: #ffffff;
}

.expertise__card:hover .expertise__card-icon {
  fill: #d01c28;
}

.expertise__card:hover .expertise__card-text {
  color: #1f50fe;
}

.expertise__card-icon {
  margin-bottom: 16px;
  fill: #ffffff;
  transition: fill 0.3s ease-in;
}

.expertise__card-text {
  max-width: 201px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  color: #ffffff;
  transition: color 0.3s ease-in;
}

.advantages {
  padding: 56px 0 64px;
  margin-top: -60px;
  background: linear-gradient(72.05deg, #e6efff 12.23%, #d9e1ff 50.72%, #cbd2ff 88.67%);
  border-radius: 70px 70px 0 0;
}

.advantages__header {
  margin-bottom: 32px;
}

.advantages__row {
  display: flex;
  gap: 40px;
}

.advantages__desk {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.5;
}

.advantages__button {
  padding: 13px 69px;
  border-radius: 0px 25px 25px 0px;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 24px;
  background: #ffffff;
  border-radius: 40px 0 0 40px;
}

.advantages__item-img {
  flex-shrink: 0;
  width: 81px;
  height: 81px;
  padding: 20px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cfcfcf;
}

.advantages__item-desk {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 8px 0px;
}

.advantages__item-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.advantages__item-text {
  font-size: 12px;
  line-height: 1.5;
}

.cta {
  padding-bottom: 124px;
  background: linear-gradient(72.05deg, #e6efff 12.23%, #d9e1ff 50.72%, #cbd2ff 88.67%);
}

.cta__row {
  position: relative;
  padding: 56px 0px;
  background: linear-gradient(92.49deg, #1a233b 0%, #01278e 185.36%);
}

.cta__row::after {
  content: "";
  position: absolute;
  top: 56px;
  left: calc(50% + 300px);
  width: 381px;
  height: 253px;
  background: url(./../img/cta/1c.png);
}

.cta__title {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 35px;
}

.cta__text {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 32px;
}

.cta__button {
  padding: 13px 121px;
}

.outstaffing {
  background: #fbfbfb;
  padding: 56px 0 124px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
}

.outstaffing__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.outstaffing__text {
  font-size: 14px;
  line-height: 1.5;
}

.outstaffing__wrapper {
  display: flex;
  justify-content: space-between;
}

.outstaffing__item {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  max-width: 320px;
  padding: 20px 0px;
}

.outstaffing__item-border {
  border-left: 2px solid #b7b7b7;
}

.outstaffing__item-img {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  padding: 21px;
  background: #f1f1f1;
  border-radius: 50%;
  border: 1px solid #b7b7b7;
  filter: drop-shadow(0px 100px 80px rgba(1, 101, 255, 0.07)) drop-shadow(0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185)) drop-shadow(0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815));
}

.outstaffing__item-desk {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.outstaffing__item-title {
  font-weight: 700;
  font-size: 18px;
}

.outstaffing__item-text {
  font-size: 12px;
  line-height: 1.5;
}

.outstaffing__btn {
  text-align: center;
}

.outstaffing__button {
  padding: 13px 69px;
}

.development {
  padding: 56px 0 64px;
  margin-top: -60px;
  border-radius: 70px 70px 0 0;
  background: linear-gradient(89.37deg, #eff1f4 0.54%, #fdfafa 46.55%, #fff5f6 99.5%);
}

.development__body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.development__text {
  font-size: 14px;
  line-height: 1.5;
}

.development__wrapper {
  display: flex;
  justify-content: space-between;
}

.development__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 330px;
  background-color: #ffffff;
  padding: 25px;
  filter: drop-shadow(0px 100px 80px rgba(1, 101, 255, 0.07)) drop-shadow(0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185)) drop-shadow(0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815));
}

.development__item--border {
  border-radius: 0px 40px 0px 40px;
}

.development__item-number {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.development__item-line {
  border: 2px solid #d01c28;
}

.development__item-title {
  font-weight: 700;
  font-size: 18px;
}

.development__item-text {
  font-size: 12px;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */