.advantages {
   padding: 56px 0 64px;
   margin-top: -60px;

   background: linear-gradient(
      72.05deg,
      #e6efff 12.23%,
      #d9e1ff 50.72%,
      #cbd2ff 88.67%
   );
   border-radius: 70px 70px 0 0;
}

.advantages__header {
   margin-bottom: 32px;
}

.advantages__row {
   display: flex;
   gap: 40px;
}

.advantages__desk {
   max-width: 600px;
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.advantages__text {
   font-size: 14px;
   line-height: 1.5;
}

.advantages__button {
   padding: 13px 69px;
   border-radius: 0px 25px 25px 0px;
}

.advantages__wrapper {
   display: flex;
   flex-direction: column;
   gap: 13px;
}

.advantages__item {
   display: flex;
   align-items: center;
   gap: 24px;
   background: $white;
   border-radius: 40px 0 0 40px;
}

.advantages__item-img {
   flex-shrink: 0;
   width: 81px;
   height: 81px;
   padding: 20px;
   background: $white;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
}

.advantages__item-desk {
   display: flex;
   flex-direction: column;
   padding: 8px 16px 8px 0px;
}

.advantages__item-title {
   font-weight: 700;
   font-size: 18px;
   margin-bottom: 8px;
}

.advantages__item-text {
   font-size: 12px;
   line-height: 1.5;
}
