.header {
   display: grid;
   gap: 40px;

   padding-top: 20px;
   padding-bottom: 124px;
   background: linear-gradient(
      296.95deg,
      rgba(255, 255, 255, 0.5) 15.52%,
      rgba(233, 241, 255, 0.5) 95.06%
   );
}

.header__top {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__top-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 21px;
   width: 100%;
   column-gap: 20px;
}

.header__logo {
   flex-shrink: 0;
}

.header__nav-list {
   display: flex;
   column-gap: 24px;
   font-size: 14px;
   line-height: 1.5;
}

.header__nav-link {
   transition: color 0.2s ease-in;
}

.header__nav-link:hover {
   color: #1f50fe;
}

.header__nav-list-item {
   position: relative;
}

.header__nav-link--active {
   font-weight: 700;

   background: #d9e2ff;
   border-radius: 60px;
   padding: 13px 10px;
}

.header__nav-link--active::after {
   position: absolute;
   bottom: -36px;
   left: 50%;
   transform: translateX(-50%);
   content: "";
   display: block;
   width: 10px;
   height: 10px;
   background-color: $accent;
   border-radius: 50%;
}

.header__call-request {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-left: 28px;

   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   text-transform: uppercase;
}

.header__call-request::before {
   position: absolute;
   left: 0px;
   top: -5px;
   content: "";
   display: block;
   width: 24px;
   height: 24px;
   background: url(./../img/header/phone-icon.svg);
}

.header__phone-number {
   font-weight: 500;
   margin-bottom: 8px;
}

.header__text-request {
   color: $accent;
}

.header__web-link {
   display: flex;
   column-gap: 4px;

   font-size: 14px;
   line-height: 1.5;
}

.header__middle-row-flex {
   display: flex;
   gap: 40px;
}

.header__desk-text p + p {
   margin-top: 27px;
}

.header__desk {
   display: grid;
   gap: 24px;
   max-width: 600px;
}

.header__text {
   font-size: 14px;
   line-height: 1.5;
}

.header__text p + p {
   margin-top: 27px;
}

.header__сert {
   display: flex;
   column-gap: 35px;
}

.header__cards {
   display: grid;
   grid-template-columns: repeat(3, minmax(187px, 1fr));
}

.header__card {
   position: relative;
   background: #fff;

   box-shadow: 0px 100px 80px rgba(1, 101, 255, 0.07),
      0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185),
      0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815);
}

.header__card-img {
   z-index: 9;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.header__card--br-50 {
   border-radius: 50%;
}

.header__card--br-bl {
   border-radius: 0 0 50% 0;
}

.header__card--bsh-accent {
   box-shadow: 0px 100px 80px rgba(1, 101, 255, 0.07),
      0px 64.8148px 46.8519px rgba(1, 101, 255, 0.0531481),
      0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185),
      0px 20px 13px rgba(1, 101, 255, 0.035),
      0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815),
      0px 1.85185px 3.14815px rgba(1, 101, 255, 0.0168519);
}

.header__card--zi {
   z-index: 1;
}
