.header {
   display: grid;
   gap: 40px;

   padding-top: 20px;
   padding-bottom: 64px;
   background: linear-gradient(
      296.95deg,
      rgba(255, 255, 255, 0.5) 15.52%,
      rgba(233, 241, 255, 0.5) 95.06%
   );
}

.header--bor-bot {
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__top-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 21px;
   width: 100%;
   column-gap: 20px;
}

.header__logo {
   flex-shrink: 0;
}

.header__nav-list {
   display: flex;
   column-gap: 24px;
   font-size: 14px;
   line-height: 1.5;
}

.header__nav-link {
   transition: color 0.2s ease-in;
}

.header__nav-link:hover {
   color: #1f50fe;
}

.header__nav-link--active {
   font-weight: 700;

   background: #d9e2ff;
   border-radius: 60px;
   padding: 13px 10px;
}

.header__call-request {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-left: 28px;

   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.04em;
   text-transform: uppercase;
}

.header__call-request::before {
   position: absolute;
   left: 0px;
   top: -5px;
   content: "";
   display: block;
   width: 24px;
   height: 24px;
   background: url(./../img/header/phone-icon.svg);
}

.header__phone-number {
   font-weight: 500;
   margin-bottom: 8px;
}

.header__text-request {
   color: $accent;
}

.header__web-link {
   display: flex;
   column-gap: 4px;

   font-size: 14px;
   line-height: 1.5;
}

.header__desk-text p + p {
   margin-top: 27px;
}

.header__desk {
   display: grid;
   gap: 24px;
   max-width: 600px;
}

.header__text {
   font-size: 14px;
   line-height: 1.5;
}

.header__text p + p {
   margin-top: 27px;
}

.header__сert {
   display: flex;
   column-gap: 35px;
}
