.outstaffing {
   background: #fbfbfb;
   padding: 56px 0 124px;
   margin-top: -60px;
   border-radius: 70px 70px 0 0;

   @media (max-width: 650px) {
      padding: 36px 0 100px;
      border-radius: 50px 50px 0 0;
   }
}

.outstaffing__body {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.outstaffing__text {
   font-size: 14px;
   line-height: 1.5;
}

.outstaffing__wrapper {
   display: flex;
   justify-content: space-between;
   gap: 32px;

   @media (max-width: 1150px) {
      flex-wrap: wrap;
      justify-content: center;
   }

   @media (max-width: 691px) {
      gap: 12px;
   }
}

.outstaffing__item:not(:last-child) {
   @media (max-width: 691px) {
      border-bottom: 2px solid #b7b7b7;
   }
}

.outstaffing__item {
   display: flex;
   column-gap: 16px;
   max-width: 320px;
   padding: 20px 0px;
}

.outstaffing__item-border {
   border: 1px solid #b7b7b7;

   @media (max-width: 1150px) {
      display: none;
   }
}

.outstaffing__item-img {
   flex-shrink: 0;
   width: 80px;
   height: 80px;
   padding: 21px;
   background: #f1f1f1;
   border-radius: 50%;
   border: 1px solid #b7b7b7;
   filter: drop-shadow(0px 100px 80px rgba(1, 101, 255, 0.07))
      drop-shadow(0px 38.5185px 25.4815px rgba(1, 101, 255, 0.0425185))
      drop-shadow(0px 8.14815px 6.51852px rgba(1, 101, 255, 0.0274815));
}

.outstaffing__item-desk {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.outstaffing__item-title {
   font-weight: 700;
   font-size: 18px;
}

.outstaffing__item-text {
   font-size: 12px;
   line-height: 1.5;

   @media (max-width: 374px) {
      font-size: 10px;
   }
}

.outstaffing__btn {
   text-align: center;
}

.outstaffing__button {
   padding: 13px 69px;
   border: 1px solid #1f50fe;

   @media (max-width: 1150px) {
      padding: 13px 30px;
   }

   @media (max-width: 374px) {
      padding: 13px 20px;
   }
}
