.ready {
   padding: 56px 0px 122px;
   margin-top: -60px;
   border-radius: 70px 70px 0 0;

   background: #fbfbfb;
}

.ready__body {
   display: flex;
   flex-direction: column;
   gap: 39px;
}

.ready__row {
   position: relative;

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 44px;
}

.ready__row::after {
   position: absolute;
   bottom: -62px;
   left: calc(50% + 70px);
   content: "";
   display: block;
   width: 610px;
   height: 520px;
   background-image: url(./../img/ready/big-circle.svg);
   background-size: initial;
}

.ready__row::before {
   position: absolute;
   bottom: -62px;
   right: calc(70%);
   content: "";
   display: block;
   width: 610px;
   height: 150px;
   background-image: url(./../img/ready/little-circle.svg);
   background-size: initial;
}

.ready__row-list {
   display: flex;
   flex-direction: column;
   align-items: end;
   row-gap: 40px;
}

.ready__row-list-item {
   display: flex;
   align-items: center;
   text-align: right;
   gap: 24px;
   cursor: pointer;

   transition: all 0.2s ease-in;
}

.ready__row-list-item:not(.ready__row-list-item--acctive):hover {
   font-size: 16px;
   color: #1f50fe;

   fill: #1f50fe;
}

.ready__row-list-item--acctive {
   font-weight: 700;
   font-size: 20px;
   fill: #1f50fe;

   & svg {
      transform: scale(1.2);
      flex-shrink: 0;
   }
}

.ready__row-wrapper {
   min-width: 640px;
   display: flex;
   flex-direction: column;
   gap: 24px;

   background: rgba(255, 255, 255, 0.8);

   padding: 24px;
   border: 2px solid #1f50fe;

   border-radius: 0px 40px 40px;
   z-index: 1;
}

.ready__row-wrapper-item {
   display: flex;
   flex-direction: column;
}

.ready__row-wrapper-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
}

.ready__row-text {
   font-size: 12px;
   line-height: 1.5;
}
