body {
   font-family: $font-main;
   background-color: #fff;
}

.none {
   display: none !important;
}

.container {
   margin: 0 auto;
   padding: 0 40px;
   max-width: 1280px;

   @media (max-width: 999px) {
      padding: 0 20px;
   }
}

.title {
   font-weight: 700;
   font-size: 60px;
   line-height: 1.2;
   color: #1f50fe;

   @media (max-width: 1150px) {
      font-size: 50px;
   }

   @media (max-width: 650px) {
      font-size: 40px;
   }

   @media (max-width: 374px) {
      font-size: 36px;
   }
}

.title-secondery {
   font-weight: 700;
   font-size: 42px;
   line-height: 1.2;

   @media (max-width: 999px) {
      font-size: 34px;
   }

   @media (max-width: 650px) {
      font-size: 24px;
   }
}

.button {
   background: $accent;
   padding: 13px 53px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   letter-spacing: 0.05em;
   color: $white;

   filter: drop-shadow(0px 100px 80px rgba(31, 80, 254, 0.07))
      drop-shadow(0px 64.8148px 46.8519px rgba(31, 80, 254, 0.0531481))
      drop-shadow(0px 38.5185px 25.4815px rgba(31, 80, 254, 0.0425185))
      drop-shadow(0px 20px 13px rgba(31, 80, 254, 0.035))
      drop-shadow(0px 8.14815px 6.51852px rgba(31, 80, 254, 0.0274815))
      drop-shadow(0px 1.85185px 3.14815px rgba(31, 80, 254, 0.0168519));

   text-transform: uppercase;

   transition: background 0.2s ease-in;

   @media (max-width: 374px) {
      font-size: 12px;
   }
}

.button:hover {
   background: #0e2a91;
}
